# Ignore Python bytecodes
__pycache__/
*.py[cod]

# Ignore Python virtual environment
.venv/

# Ignore environment files
.env

# Ignore Ruff cache
.ruff_cache/

# Ignore IDE settings
.idea/
.vscode/
.zed/

# Ignore miscellaneous files
*.log
.DS_Store
Thumbs.db
